<nav>
  <ul>
    <li><a href="{{ url_for('pages.home') }}">Giardino</a></li>
    <li><a href="{{ url_for('pages.about') }}">Sistema di irrigazione</a></li>
    <li><a href="{{ url_for('pages.just') }}">Creazione del giardino</a></li>
    <li><a href="{{ url_for('pages.garden') }}">Manutenzione del giardino</a></li>
    <li><a href="{{ url_for('pages.pruning') }}">Potatura piante e ulivi</a></li>
    <li><a href="{{ url_for('pages.triclimbing') }}">Triclimbing-potatura di alberi ad alto fusto</a></li>
    <li><a href="{{ url_for('pages.contacts_us') }}">Contattaci</a></li>
  </ul>
  </ul>
</nav>
